---
# Solo este archivo necesita front matter para que Jekyll lo procese
---

// Paleta personalizada
$brand-color: #0097f5;        // Azul tipo ArtStation
$accent-color: #7fd4ff;       // Azul hielo
$background-color: #10121c;   // Negro azulado profundo
$text-color: #f5f5f5;         // Blanco suave
$muted-text-color: #b0b8c5;
/* Contenedor del logo en la cabecera */
.hero-logo {
  text-align: center;
  margin-top: 40px;
}
/* Evitar que puedan usar clic derecho en el logo */
.logo-hero {
  max-width: 754px;   /* tu tama침o "original" */
  width: 100%;        /* se adapta al contenedor */
  height: auto;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
/* Ajuste para pantallas peque침as (m칩vil / tablet) */
@media (max-width: 768px) {
  .hero-logo {
    margin-top: 20px;
  }

  .logo-hero {
    max-width: 90%;   /* ocupa como mucho el 90% del ancho de la pantalla */
  }
}
/* .logo-hero {
  display: block;
  margin: 40px auto 20px auto;
  max-width: 754px;
  width: 100%;
  height: auto;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Fondo global de la p치gina */
body {
  background-color: #10121c;
}

/* Hacer que el header tenga el mismo color que el fondo */
.masthead,
.masthead__inner-wrap {
  background-color: #10121c;
  box-shadow: none;
  border-bottom: none;
}

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";
//10121c