---
# Solo este archivo necesita front matter para que Jekyll lo procese
---

// Paleta personalizada
$brand-color: #0097f5;        // Azul tipo ArtStation
$accent-color: #7fd4ff;       // Azul hielo
$background-color: #10121c;   // Negro azulado profundo
$text-color: #f5f5f5;         // Blanco suave
$muted-text-color: #b0b8c5;

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

///////////////////////////////////////////////////////////////////////

/* Contenedor del logo en la cabecera */
.hero-logo {
  text-align: center;
  margin-top: 40px;
}
/* Evitar que puedan usar clic derecho en el logo */
.logo-hero {
  max-width: 754px;   /* tu tamaño "original" */
  width: 100%;        /* se adapta al contenedor */
  height: auto;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
////////////////////////////////////////////////////////////////////
/* Ajuste para pantallas pequeñas (móvil / tablet) */
@media (max-width: 768px) {
  .hero-logo {
    margin-top: 20px;
  }

  .logo-hero {
    max-width: 90%;   /* ocupa como mucho el 90% del ancho de la pantalla */
  }
}
//////////////////////////////////////////////////////////////////
/* .logo-hero {
  display: block;
  margin: 40px auto 20px auto;
  max-width: 754px;
  width: 100%;
  height: auto;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* Fondo global de la página */
body {
  background-color: #10121c;
}

/* Hacer que el header tenga el mismo color que el fondo */
.masthead,
.masthead__inner-wrap {
  background-color: #10121c;
  box-shadow: none;
  border-bottom: none;
}



///////////////////////////////////////////////////////////////////////
// ========= SOLO PÁGINA DE INICIO (.inicio) =========================

// 1) Limitar el ancho del contenido de texto (como tu cuadro rojo)
//    Ajusta este valor si quieres más o menos ancho
.inicio .page__inner-wrap {
  max-width: 900px;     // prueba este valor; si lo quieres más estrecho, baja a 850 o 800
  margin-left: auto;    // centra el bloque respecto a la página
  margin-right: auto;
}

// 2) Todo el texto de Inicio alineado a la izquierda
.inicio .page__content {
  text-align: left;
}

.inicio .page__content p,
.inicio .page__content li,
.inicio .page__content h2,
.inicio .page__content h3,
.inicio .page__content h4 {
  text-align: left;
}

// 3) El subtítulo SIEMPRE centrado
.inicio .hero__subtitle {
  text-align: center;
}




//10121c