---
# Solo este archivo necesita front matter para que Jekyll lo procese
---

// Paleta personalizada
$brand-color: #0097f5;        // Azul tipo ArtStation
$accent-color: #7fd4ff;       // Azul hielo
$background-color: #171a24;   // Negro azulado profundo
$text-color: #f5f5f5;         // Blanco suave
$muted-text-color: #b0b8c5;

/* Evitar que puedan usar clic derecho en el logo */
.logo-hero {
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

/* Forzar fondo global */
body {
  background-color: #10121c !important;

  .masthead {
  background-color: #10121c !important;
  box-shadow: none !important;
}

/* También el menú de navegación interno */
.masthead__inner-wrap {
  background-color: #10121c !important;
  box-shadow: none !important;
}
}

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";
