---
# Front matter necesario para que Jekyll procese SCSS
---

// Paleta personalizada
$brand-color: #0097f5;        // Azul tipo ArtStation
$accent-color: #7fd4ff;       // Azul hielo
$background-color: #171a24 !important;   // Negro azulado profundo
$text-color: #f5f5f5;         // Blanco suave
$muted-text-color: #b0b8c5;

/* Evitar que puedan usar clic derecho en el logo */
.logo-hero {
  pointer-events: none !important;
  user-select: none !important;
  -webkit-user-drag: none !important;
}

/* Forzar fondo global */
body {
  background-color: #10121c !important;
}

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";
